<artical>
    <div class="post-title">
        <h2>{{ title }}</h2>
        <span class="font-span">by {{ user.username }} on {{formatDate createdAt}}</span>
    </div>
    <div class="post-body">
        <p>{{ post_info }}</p>
    </div>
</artical>