<!DOCTYPE html>
<html lang="en">

    <head>
        <title>One Tech Blog</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="description" content="" />
        <link rel="stylesheet" href='css/index.css' />
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Roboto:wght@300&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="wrapper">
            <header>
                <h1 class="page-title"><a href='/'>One Tech Blog</a></h1>
                <nav>
                    {{#if loggedIn}}
                        <button>logout</button>
                    {{else}}
                        <span><a href='/login'>Login</a></span>
                    {{/if}}
                </nav>
            </header>
            <main>
                {{{ body }}}
            </main>
            <footer>
               
            </footer>
        </div>
    </body>

</html>