<artical>
    <form class="edit-form">
        <input type="text" id='edit-title' value="{{post.title}}" />
        <input type="text" id='edit-url' value="{{post.post_url}}">
        <textarea type="text" id="edit-info" rows="10" cols="80" maxlength="1000">{{post.post_info}}</textarea>
        <button type="submit">Edit</button>
        <button type="button" id="delete-post-btn">Delete</button>
    </form>
</artical>

<script src="/javascript/edit-content.js"></script>
<script src="/javascript/delete-content.js"></script>