<ul class="post-list-hp">
    {{#each posts as |p|}}
        <li class="post-list-items">
            {{> post-info}}
            <div class="sm-screen-comment">
                {{ comments.length }} <a href="/post/{{id}}">
                <span class="font-span">{{formatPlural 'Comment' comments.length}}</span> </a>
            </div>
        </li>
    {{/each}}
</ul>