{{#if isUser}}
    <section> 
        <div class="profile-gretting">
            <h2>{{{timeOfDay date}}}</h2>
            <h3>{{user.username}}</h3>
        </div>
    </section>
    
    {{else}}
    Now viewing {{user.username}}'s profile
{{/if}}

