<section class="form-wrapper">
    <div class="col">
        <h2>Signup</h2>
        <form class="signup-form cred-form">
            <label>
                <span class="form-span">Username</span>
                <input type="text" name="signup-form" required/>
            </label>
            
            <label >
                <span class="form-span">Email</span>
                <input type="email" name="signup-form" required/>
            </label>
        
            <label >
                <span class="form-span">Password</span>
                <input type="password" name="signup-form" required/>
            </label>   
            
            <div>
                <button type="submit">Submit</button>
            </div>   
        </form>
    </div>
    <div class="col">
        <h2>Login</h2>
        <form class="login-form cred-form"> 
            <label>
                <span class="form-span">Email</span>
                <input type="email"  id='login-email' name="login-form" required/>
            </label>
            
            <label>
                <span class="form-span">Password</span>
                <input type="password"  id='login-password' name="login-form" required/>
            </label>
            
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</section>
<script src="javascript/signup.js"></script>
<script src="javascript/login.js"></script>