<div class="single-post-wrapper"> 
    <section>
        {{> post-info post}}   
    </section>

    <section class="comment-section">
        <div class="add-comment">
            <h2>Add Comment</h2>
            <textarea id='post-comment' rows='5' cols="35"></textarea>
            {{#if loggedIn}}
                <button type="button" id="comment-btn">post comment</button>
            {{else}}
                <p>Log in to add a comment</p>
            {{/if}}
        </div>

        <div class="comment-wrapper">
            <h2>Post Comments</h2>
            <ul class="comment-list">
                {{#each post.comments}}
                    <li class='comment-list-items'>
                        <div>
                            {{user.username}} {{formatDate createdAt}}
                        </div>
                        <div>
                            {{comment_text}}
                        </div>
                    </li>     
                {{/each}}
            </ul>
        </div>
    </section>
</div>
<script src="/javascript/add-comment.js"></script>