:root {
    --main-border: 2px solid black;
}

* {
    box-sizing: border-box;
    
}

html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
} 

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0
}

header {
    display: flex;
    justify-content: space-between ;
    align-items: end;
    border-bottom: var(--main-border);
    padding: 1vh 0;
    letter-spacing: 1px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem
}

a {
    text-decoration: none;
    color: black
}

ul {
    list-style: none;
    padding: 0;
}

button {
    background: none;
    border: none;
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    letter-spacing: 1px;
}

.font-span {
    font-size: 1.2rem;
}

.wrapper {
    max-width: 70vw;
    margin: 0 auto
}

.post-list-hp {
    margin: 5vh auto;
    max-width: 65vw;
}

.post-list-items {
    margin-bottom: 3vh;
}

.post-title {
    display: flex;
    justify-content: space-between;
    font-size: 1rem
}

.post-title > span {
    padding-top: .6vh
}

.post-body {
    border: var(--main-border);
    border-radius: 15px;
    padding: 10px;
    margin: 1vh 0
}

/*  FORM STYLES */

.form-wrapper {
    min-height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.form > section{
    display: flex;
    flex-direction: column
}

section > input {
    margin-bottom: 1vh
}




/*  PROFILE STYLES */

.profile-greeting {
    text-align: center;
    margin: 3vh 0 6vh 0;
    padding: 20px 0;
    font-size: 1.5rem;
    border: var(--main-border);
}

.profile-wrapper {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.profile-wrapper > section {
    margin-bottom:4vh
}

.profile-post {
    width: 32vw;
    max-height: 50vh;
    padding: 15px;
    overflow-y: scroll;
    margin-bottom: 2vh
}

.profile-post::-webkit-scrollbar {
    display: none
}


.profile-post-list {
    margin-bottom: 3vh;
}

.like-list {
    width: 32vw;
    max-height: 50vh;
    margin: 10px 0;
    padding: 15px;
    overflow: auto
}

.create-post {
    padding: 15px;
    width: 32vw;
}

.border-box {
    border: var(--main-border);
    margin: 1vh 0
}

textarea {
    resize: none
}


/*    Comment styles */

.comment-list {
    border: var(--main-border);
    padding: 1vh;
    margin: 2vh 0
}

.comment-wrapper {
    max-width: 40%;
    max-height: 70vh;
    overflow: auto
}

.comment-wrapper::-webkit-scrollbar {
    display: none
}

.add-comments {
    display: flex;
    justify-content:space-between
}