:root {
    --main-border: 2px solid black;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
} 

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 1vh 0
}

header {
    display: flex;
    justify-content: space-between ;
    align-items: end;
    border-bottom: var(--main-border);
    padding: 1vh 0;
    letter-spacing: 1px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    background: none;
    border: none;
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    letter-spacing: 1px;
    padding: 0;
   
}

textarea {
    resize: none;
}

.font-span {
    font-size: 1.2rem;
}
.wrapper {
    max-width: 70vw;
    margin: 0 auto;
}

.post-list-hp {
    margin: 5vh auto;
    max-width: 65vw;
}

.post-list-items {
    margin-bottom: 3vh;
}

.post-title {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

.post-title > span {
    padding-top: .6vh;
}

.post-body {
    border: var(--main-border);
    border-radius: 15px;
    padding: 5px 10px;
    margin: 1vh 0;
}

/*  FORM STYLES */

.form-wrapper {
    min-height: 80vh;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1.3rem;
}
.signup-form > label ,
.login-form > label,
.post-form > label{
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh
}

.form-col {
    padding: 0 5vw;
}

.form-col:nth-child(1){
    border-right: var(--main-border);
}

.form-col > h2 {
    margin-bottom: 2vh;
}

input {
    margin: .5vh 0 1vh 0;
    padding: .5vh;
};


/*  PROFILE STYLES */
/* style in this position wont apply ???????????????? */
svg {
    font-size: large
}

.profile-greeting {
    text-align: center;
    margin: 3vh 0 ;
    padding: 20px 0;
    font-size: 1.5rem;
    border: var(--main-border);
}

.profile-wrapper {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.profile-wrapper > section {
    margin-top: 4vh;
}

/* User post in profile style */

.profile-post {
    width: 32vw;
    max-height: 50vh;
    padding: 0 15px;
    overflow-y: auto;
}

.profile-post-list {
    padding: 2vh 0 2vh 0;
    border-bottom: var(--main-border)
}

.profile-post-list > .edit-btn {
   margin: 10px 0;
   font-weight: 600;
   font-size: 1.1rem
}

.profile-post-list > .edit-btn:hover {
    text-decoration: underline
}

.like-list {
    width: 32vw;
    max-height: 50vh;
    margin: 10px 0;
    padding: 15px;
    overflow: auto;
}

.create-post {
    min-height: 47vh;
    padding: 1.5vh;
    width: 32vw;
}

.post-form > div {
    margin-top: 1.5vh
}
.border-box {
    border: var(--main-border);
    margin: 1vh 0;
}

/*   SINGLE PAGE STYLES */

.single-post-wrapper {
    margin-top: 5vh;
}

.comment-section {
    max-width: 80%;
    margin: 6vh auto 0;
    display: flex;
    justify-content: space-between;
}

.add-comment {
    display: flex;
    flex-direction: column;
    align-items: start

}

.add-comment > textarea {
    margin: 1vh 0
}

/*    Comment styles */

.comment-wrapper {
    width: 40%;
}

.comment-list {
    border: var(--main-border);
    overflow: auto;
    height: 60vh
}

.comment-list-items {
    border: var(--main-border);
    padding: 1vh;
    margin: 2vh;
}

.comment-list-items > div {
    margin-bottom: .5vh
}


/* Scrollbar styles */

.comment-list::-webkit-scrollbar,
.profile-post::-webkit-scrollbar { 
   width: 5px;
}
.comment-list::-webkit-scrollbar-track,
.profile-post::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 10px;
}
.comment-list::-webkit-scrollbar-thumb,
.profile-post::-webkit-scrollbar-thumb {
    background: rgb(107, 105, 105);
    border-radius: 10px
}

/*  EDIT STYLES */
.edit-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center
}

.edit-form {
    margin-top: 5vh
}

.edit-form > div {
    margin: 2vh 0
}

.delete-div {
    border: var(--main-border);
    padding: 3vw 2vw;
    border-radius: 50px;
}

.delete-div:hover {
    background-color: red
}



/* Media Querires */

@media screen and (max-width: 600px) {
    header {
        flex-direction:column;
        align-items: center
    }

    .sm-style-main-title {
        font-size: 2.3rem
    }

    nav > a {
        margin-right: 20px
    }

    .post-title {
        display: flex;
        flex-direction:column;
        text-align: center;
    }

    .sm-screen-comment {
        text-align:end
    }

    /* Small Form Style */

    .font-span {
        font-size: 1.1rem
    }

    .form-wrapper {
        flex-direction: column; 
        margin-top: 2vh
    }

    .form-col {
        margin-bottom: 5vh;
    }

    .form-col:nth-child(2){
        border-left: var(--main-border);
    }

    /*  Profile Styles */

   
    .profile-post,.like-list, .create-post {
        width: 70vw
    }


    .edit-wrapper{
        flex-direction:column
    }

    .delete-div {
        border: none;
        margin-top: 6vh
    }

}
