* {
    box-sizing: border-box;
    
}

html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 100%
} 

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0
}

header {
    display: flex;
    justify-content: space-between ;
    align-items: end;
    border-bottom: 2px solid black;
    padding: 1vh 0;
    letter-spacing: 1px;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
    color: black
}

ul {
    list-style: none;
    padding: 0;
}

nav > a {
    font-size: 1.2rem
}

.font-span {
    font-size: 1.2rem;
}

.wrapper {
    max-width: 70vw;
    margin: 0 auto
}

.post-list {
    margin: 5vh auto;
    max-width: 65vw;
}

.post-list-items {
    margin-bottom: 3vh;
}

.post-title {
    display: flex;
    justify-content: space-between;
    font-size: 1em
}


.post-title > span {
    padding-top: .6vh
}

.post-body {
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    margin-top: 1vh
}

.form-wrapper {
    min-height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.form > section{
    display: flex;
    flex-direction: column
}

section > input {
    margin-bottom: 1vh
}

div > button[type="submit"] {
    min-width: 85px;
    min-height: 30px;
    border: 2px solid black;
    border-radius: 80px;
    background: none;
  
}


/*  PROFILE STYLES */

.profile-greeting {
    text-align: center;
    margin: 3vh 0 6vh 0;
    padding: 20px 0;
    font-size: 1.5rem;
    border: 2px solid black;
}

.profile-wrapper {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.profile-wrapper > section {
    margin-bottom:4vh
}

.profile-post {
    width: 32vw;
    max-height: 50vh;
    padding: 15px;
    overflow: auto;
    margin-bottom: 2vh
}

.profile-post-list {
    margin-bottom: 3vh;
}

.like-list {
    width: 32vw;
    max-height: 50vh;
    margin: 10px 0;
    padding: 15px;
    overflow: auto
}

.create-post {
    padding: 15px;
    width: 32vw;
}

.border-box {
    border: 2px solid black;
    margin: 1vh 0
}

textarea {
    resize: none
}
